*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu,a{

     background-color: gray;
     padding: 10px;
     border-radius: 4px;
     display: inline;
     text-decoration: none;

     display: inline;
     word-spacing: 50px;
     color: azure;
     font-size: 1.0em;
     cursor: pointer;
     font-family: deathnote;
     
}

a:hover{
     color: black;
     background-color:azure;
     text-decoration: underline;
    
}



body{
    background-color: black;
    text-align: center;

}


header{
    background-color:azure;
    box-shadow:2px 5px 5px darkred;
}

header:hover{
    background-color:gray;
}


div{
    background-color: gray;
    color: azure;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
   
}

div:hover{
    color: black;
    background-color:azure;
}

main,p{
    text-align:center;
    text-indent: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    margin: 10px;
}

.detalhes{
    font-family: deathnote;
    text-align: center;
}

h1,h3,h2{
  color: black;
  font-family:deathnote;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

@font-face{
    font-family: deathnote;
    src: url(death_font_ver1_0/DEATH_FONT.TTF);
}


.botao{
    text-align: center;
    background-color: black;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: azure;

}


 button{
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}

.images-pg-inicial{
    width: 100%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.589);
    border-radius: 2px;

}


.solid{
    border:solid 1px;
    border-radius: 100px;
    width: 200px;

   
}

#disqus_thread{
    background-color: gray;
}

#disqus_thread:hover{
    background-color: azure;
    
}


footer{
    color: azure;
    text-align: center;
    font-size: larger; 
}








